/* CSS Variables */
:root {
    --c-neutral-100: #ffffff;
    --c-neutral-200: #f5f5f5;
    --c-neutral-700: #353435;
    --c-neutral-800: #292B31;

    --c-primary-600: #3a3d4c;
    --c-primary-700: #1D2233;

    --c-accent-400: #FCD4D1;
    --c-accent-500: #F08080;
    --c-accent-600: #5cd092;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 900;
}

/* CSS Reset */
body,
header,
main,
footer,
div,
aside,
h2,
img,
ul,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for box sizing */
* {
    box-sizing: border-box;
}

/* Style rules for mobile layout */

/* Hides desktop class */
.desktop {
    display: none;
}

/* Style rule for body and images */
body {
    padding: 7%;
    background-color: var(--c-primary-700);
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-regular);
    font-size: 0.9375rem;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for header area */
header img {
    margin: 0 auto;
    border-radius: 10px;
}

/* Style rules for main area*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.125rem;
    margin-inline: auto;
    padding: 1rem;
    max-width: 26.25rem;
    background-color: var(--c-neutral-100);
    border-radius: 10px;
    outline: 1px solid var(--c-neutral-800);
    box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.41);
}

.steps {
    width: 100%;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: var(--fw-semi-bold);
    font-size: 1.25rem;
    color: var(--c-neutral-200);
    background-color: var(--c-primary-700);
    border-radius: 10px;
}

.mobile.steps {
    margin-bottom: 1.5rem;
}

#mealPlan fieldset:not(fieldset.active) {
    display: none;
}

#mealPlan fieldset legend {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 0.938rem;
    color: var(--c-primary-700);
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
}

#mealPlan fieldset label {
    display: block;
    margin-bottom: 0.375rem;
    color: var(--c-primary-700);
    font-size: 0.938rem;
}

#mealPlan fieldset input {
    display: block;
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.35rem;
    font-size: 1.063rem;
    border: 1px solid var(--c-primary-700);
    border-radius: 8px;
}

#button-wrapper {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--c-primary-600);
    border: 1px solid var(--c-primary-700);
    border-radius: 20px;
    color: var(--c-neutral-100);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: var(--fw-semi-bold);
    cursor: pointer;
}

#resetButton {
    color: var(--c-primary-700);
    background-color: var(--c-accent-400);
    border: 1px solid var(--c-accent-500);
}

#submitButton {
    display: none;
}

/* Style rules for Desktop Viewport */
@media (min-width: 1280px) {
    /* Hides mobile view and display desktop view */
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    /* Style rules for the body */
    body {
        padding: 2rem;
        font-size: 1.063rem;
    }

    /* Style rules for header area */
    header img {
        max-width: 25%;
    }

    /* Style rules for main area */
    .wrapper {
        grid-template-columns: 1fr 2fr;
        max-width: 61.25rem;
    }

    .desktop.steps {
        padding: 1.31rem 1.5rem;
        text-align: left;
    }

    .desktop.steps ul {
        list-style-type: none;
    }

    .desktop.steps ul > li {
        font-family: "Roboto", sans-serif;
        font-size: 1.063rem;
    }

    .desktop.steps ul > li:not(.desktop.steps ul > li:last-child) {
        margin-bottom: 1rem;
    }

    .desktop.steps ul > li span {
        display: inline-block;
        margin-right: 0.75rem;
        padding: 0.5rem 0.75rem;
        border: 1px solid var(--c-neutral-100);border-radius: 5px;
    }

    .desktop.steps ul > li.completed {
        color: var(--c-accent-600);
    }

    .desktop.steps ul > li.completed span {
        background-color: var(--c-accent-600);
        border: none;
        color: var(--c-primary-700);
    }

    #mealPlan {
        padding: 1rem 3rem;
    }

    #mealPlan fieldset legend {
        text-align: left;
        font-size: 1.75rem;
    }

    #mealPlan fieldset input {
        margin-bottom: 2.75rem;
    }

    button {
        font-size: 1.063rem;
        padding: 0.75rem 1.25rem;
    }

}